.stringsBlock {
    border: 2px solid black;
    width: 300px;
    height: 100px;
    padding-left: 5px;
    overflow: auto;
}

.inputsBlock {
    margin-bottom: 5px;
}

.inputsBlock > input {
    margin-right: 5px;
}

.stringsBlock > span {
    display: block;
}