.editProduct {
    margin-top: 5px;
}

input[type=button] {
    cursor: pointer;
}

.product > span {
    display: inline-block;
    width: 70px;
    background-color: #fff;
}

.errorField {
    color: red;
    white-space: nowrap;
}

.editTitle {
    display: block;
    font-weight: bold;
    font-size: 18px;
}